
mixin header()
    .col-md-12.text-center
        h3.headerTextStyle  eCure
        h4.headerTextStyle Dhanmondi
        h3.headerTextStyle Phone:0174733331415

mixin headerText(txt)
    .col-md-12.text-center
        h3.headerTextStyle #{txt}
mixin admissionInfoBlockForBillInvoice()
    .col-md-12.admissionInfoContainer
        .row.admissionInfo
            .col-md-4.col-print-4
                label Admission No:
                span AD-0001144
            .col-md-4.col-print-4
                label Reg. No:
                span 000001-02-17
            .col-md-4.col-print-4
                label Admission Date:
                span 2/2/2017, 10:36:24 AM
        .row.admissionInfo
            .col-md-3.col-print-3
                label Patient Name:
                span Kashem ali
            .col-md-3.col-print-3
                label Age:
                span 11-00-00
            .col-md-3.col-print-3
                label Sex:
                span Male
            .col-md-3.col-print-3
                label Mobile:
                span 45646465446
        .row.admissionInfo
            .col-md-6.col-print-6
                label Address:
                span AD-0001144
            .col-md-6.col-print-6
                label Emergency Contact:
                span 0000015656
        .row.admissionInfo
            .col-md-6.col-print-6
                label Admission Under:
                span Dr. Rokonujjaman ( MBBS )
            .col-md-6
                label Word/Cabin:
                span C.C.U-5
mixin finalCalculationForbillInvoice()
    table.fullWidthTable
        tr
            th.tableParticulars Advance and Refund Summary
            th.tableParticulars Amount (BDT)
        tr
            td.tableParticulars
                b Previous Deposit:
            td.tableParticulars 0
        tr
            td.tableParticulars
                b Current Deposit:
            td.tableParticulars 1500
        tr
            td.tableParticulars
                b Total Deposit(+):
            td.tableParticulars 1500
        tr
            td.tableParticulars
                b Total Refund (-):
            td.tableParticulars 0
        tr
            td.tableParticulars
                b Current Balance:
            td.tableParticulars
                b 1500
mixin particularAmount()
    .col-md-12
        .row
            table.fullWidthTable
                tr
                    th.tableParticulars Particulars
                    th.tableParticulars Amount (BDT)
                tr
                    td.tableParticulars
                        b Cash Deposit
                    td.tableParticulars 1500
                tr
                    td.tableParticulars
                        b Amount in words: One Thousand Five Hundred
                    td.tableParticulars 1500
mixin admissionInfoBlockForMoneyReceipt()
    .col-md-12.admissionInfoContainer
        .row.admissionInfo
            .col-md-4.col-print-4
                label Reg. No
                span 000003-10-16
            .col-md-4.col-print-4
                label Admission ID:
                span AD-0001148
            .col-md-4.col-print-4
                label ReceiptNo:
                span PL20170000015
        .row.admissionInfo
            .col-md-8.col-print-8
                label Patient Name:
                span Kashem ali
            .col-md-4.col-print-4
                label Date:
                span 2/16/2017, 9:03:41 AM

        .row.admissionInfo
            .col-md-4.col-print-4
                label Mobile:
                span 01717171717
            .col-md-4.col-print-4
                label Age:
                span 25-02-00
            .col-md-4.col-print-4
                label Bed:
                span FW-2
        .row.admissionInfo
            .col-md-12.col-print-12
                label Referred By:
                span Dr. Rokonujjaman ( MBBS )

mixin pathologyDueCollection()
    .col-md-12.col-print-12
        .row
            table.fullWidthTable
                tr
                    td.tableParticulars(rowspan="5")
                        h3 Pathology Due Collection
                    td.tableParticulars
                        b Total Bill Amount:
                    td.tableParticulars
                        b 583

                tr
                    td.tableParticulars
                        b Total Discount Amount:
                    td.tableParticulars 62.3
                tr
                    td.tableParticulars
                        b Total Previous Received Amount:
                    td.tableParticulars 0
                tr
                    td.tableParticulars
                        b Current Received Amount:
                    td.tableParticulars 250
                tr
                    td.tableParticulars
                        b Current Due Amount:
                    td.tableParticulars 270.7
                tr
                    td.amountinwords(colspan=3)
                        b Amount In Word: Two Hundred and Fifty only taka only
mixin admissionInfoBlockForDailyServiceBill()
    .col-md-12.admissionInfoContainer
        .row.admissionInfo
            .col-md-4.col-print-4
                label Reg. No:
                span 000009-02-17
            .col-md-4.col-print-4
                label Admission ID:
                span AD-0001147
            .col-md-4.col-print-4
                label Admission Date:
                span 2/2/2017, 10:36:24 AM
        .row.admissionInfo
            .col-md-6.col-print-6
                label Patient Name:
                span Kashem ali
            .col-md-3.col-print-3
                label Age:
                span 11-00-00
            .col-md-3.col-print-3
                label Bed:
                span FW-1
        .row.admissionInfo
            .col-md-6.col-print-6
                label Mobile:
                span AD-0001144
            .col-md-6.col-print-6
                label Emergency Contact:
                span 0000015656
        .row.admissionInfo
            .col-md-12.col-print-12
                label Admission Under:
                span Dr. Rokonujjaman ( MBBS )
mixin footer()
    .col-md-12
        .col-md-4.col-print-4
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.signatureBorder.text-center
            h3 shafe
    .col-md-12
        .col-md-4.col-print-4.col-md-offset-8.col-print-offset-8.text-center
            h2 Signature
    .col-md-12
        .col-md-4.col-print-4.text-center
            h4 10/8/2015 11:34:26AM
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.text-center
            h4 Powered By: Daffodil Software
mixin footer2()
    .col-md-12
        .col-md-4.col-print-4
            h2 Bill Prepared By
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.signatureBorder.text-center
            h3 shafe
    .col-md-12
        .col-md-4.col-print-4.col-md-offset-8.col-print-offset-8.text-center
            h2 Signature
    .col-md-12
        .col-md-4.col-print-4.text-center
            h4 10/8/2015 11:34:26AM
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.text-center
            h4 Powered By: Daffodil Software
mixin footer3()
    .col-md-12
        .col-md-4.col-print-4.signatureBorder
            h3 &nbsp;
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.signatureBorder.text-center
            h3 shafe
    .col-md-12
        .col-md-4.col-print-4.text-center
            h2 Operator
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.text-center
            h2 Signature
    .col-md-12
        .col-md-4.col-print-4.text-center
            h4 10/8/2015 11:34:26AM
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.text-center
            h4 Powered By: Daffodil Software
mixin footer4()
    .col-md-12.col-print-12
        .col-md-3.col-print-3.col-md-offset-1.col-print-offset-1.signatureBorder
            h3 &nbsp;
        .col-md-3.col-print-3.col-md-offset-1.col-print-offset-1.signatureBorder
            h3 &nbsp;
        .col-md-3.col-print-3.col-md-offset-1.col-print-offset-1
            h3 &nbsp;
    .col-md-12.col-print-12
        .col-md-3.col-print-3.col-md-offset-1.col-print-offset-1.text-center
            h4 Signature of Guardian/ Responsible Person
        .col-md-3.col-print-3.col-md-offset-1.col-print-offset-1.text-center
            h4 Full Signature in block Letter
        .col-md-3.col-print-3.col-md-offset-1.col-print-offset-1.text-center
            label Admitted By:
            span Tariqul
    .col-md-12.col-print-12
        .col-md-4.col-print-4.text-center
            h4 10/8/2015 11:34:26AM
        .col-md-4.col-print-4.col-md-offset-4.col-print-offset-4.text-center
            h4 Powered By: Daffodil Software