include printMixin
doctype html
html
    head
        title eCure
        link(href="../css/bootstrap.css" rel="stylesheet")
        link(href="../css/style.css" rel="stylesheet")
    body
        .container
            block content

            block foot
                +footer()