//for print
@media print {



  /* global css for all pages */

  /* For alignment/Layout */
  .col-print-1 {width:8%;  float:left;}
  .col-print-2 {width:16%; float:left;}
  .col-print-3 {width:25%; float:left;}
  .col-print-4 {width:33%; float:left;}
  .col-print-5 {width:42%; float:left;}
  .col-print-6 {width:50%; float:left;}
  .col-print-7 {width:58%; float:left;}
  .col-print-8 {width:66%; float:left;}
  .col-print-9 {width:75%; float:left;}
  .col-print-10{width:83%; float:left;}
  .col-print-11{width:92%; float:left;}
  .col-print-12{width:100%; float:left;}
  .col-print-offset-12 {
    margin-left: 100%;
  }
  .col-print-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-print-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-print-offset-9 {
    margin-left: 75%;
  }
  .col-print-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-print-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-print-offset-6 {
    margin-left: 50%;
  }
  .col-print-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-print-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-print-offset-3 {
    margin-left: 25%;
  }
  .col-print-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-print-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-print-offset-0 {
    margin-left: 0;
  }

  /* Show - Hide */
  .visible-print{
    display: block;
  }

  .hidden-print{
    display: none;
  }

}
//end of print

$border-color: #000000;

.admissionInfoContainer {
  border-top: 2px solid $border-color;
  border-right: 2px solid $border-color;
  border-left: 2px solid $border-color;
}
.admissionInfo {
  border-bottom: 2px solid $border-color;
  margin-top: 5px;
}
.fullWidthTable{
  width: 100%;
  border: 2px solid $border-color;
  margin-top: 15px;
}
.tableParticulars{
  border-right: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.signatureBorder{
  border-bottom: 2px solid $border-color;
}
.amountinwords{
  padding: 5px;
}
.headerTextStyle{
  margin-top: 5px;
  margin-bottom: 5px;
}
.admissionFormHeader{
  padding-top: 20px;
}
.dueWidth{
  width: 55%;
}
.virologyReportTable{
  width: 25%;
}