extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Admission Form')
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Registration No:
                    span 000003-10-16
                .col-md-4.col-print-4
                    label Admission Id:
                    span AD-0001148
                .col-md-4.col-print-4
                    label Admission Date Time:
                    span 2/2/2017, 10:36:24 AM
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Patient Name:
                    span Kashem ali
                .col-md-4.col-print-4
                    label Age:
                    span 11-00-00
                .col-md-4.col-print-4
                    label Sex:
                    span Male
            .row.admissionInfo
                .col-md-5.col-print-5
                    label Guardian Name:
                    span Kalim Sharkar
                .col-md-7.col-print-7
                    label Present Address:
                    span 102 Mirpur Rd, Dhaka 1207, Bangladesh
            .row.admissionInfo
                .col-md-5.col-print-5
                    label Telephone:
                    span 01818181818
                .col-md-7.col-print-7
                    label Emargency Contact:
                    span 01073672172

        .col-md-12.text-center.admissionFormHeader
            h3.headerTextStyle Bed Info
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Cabin/ Bed No:
                    span FW-2
                .col-md-6.col-print-6
                    label Department:
                    span Allergy & Immunology
        .col-md-12.text-center.admissionFormHeader
            h3.headerTextStyle Doctor's Information
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-12.col-print-12
                    label Admission Under:
                    span Dr. Rokonujjaman ( MBBS )
            .row.admissionInfo
                .col-md-12.col-print-12
                    label Remarks:
                    span
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Attending Doctor:
                    span
                .col-md-6.col-print-6
                    label Signature:
                    span
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Attending Nurse:
                    span
                .col-md-6.col-print-6
                    label Signature:
                    span
        .col-md-12.admissionFormHeader
            p I/We hereby abide by the rules and regulation of the Hospital.The Above information given by myself is true and if my information prove to be false i shall be liable for that.

    block foot
        +footer4()
