extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Bill/Invoice')
        +admissionInfoBlockForBillInvoice()
        +particularAmount()
        .col-md-6.col-md-offset-3.col-print-6.col-print-offset-3
            +finalCalculationForbillInvoice()

