extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Daily Service Bill Details')
        +admissionInfoBlockForDailyServiceBill()
        .col-md-12
            .row
                table.fullWidthTable
                    tr
                        th.tableParticulars.text-center Date
                        th.tableParticulars.text-center Service Description
                        th.tableParticulars.text-center Unit Charge
                        th.tableParticulars.text-center Quantity
                        th.tableParticulars.text-center Discount (%)
                        th.tableParticulars.text-center Net Total(Tk)
                    tr
                        td.tableParticulars.text-center 2017-02-15
                        td.tableParticulars.text-center Consultant fee(indoor)
                        td.tableParticulars.text-center 502
                        td.tableParticulars.text-center 1
                        td.tableParticulars.text-center 2
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-center(rowspan="4")(colspan="4")
                            b Remarks:
                        td.tableParticulars.text-center
                            b Total Bill:
                        td.tableParticulars.text-center 502
                    tr
                        td.tableParticulars.text-center
                            b Discount:
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-center
                            b Deposit:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-center
                            b Balance:
                        td.tableParticulars.text-center 0
    block foot
        +footer3()