extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Daily Service Bill Summary')
        +admissionInfoBlockForDailyServiceBill()
        .col-md-12
            .row
                table.fullWidthTable
                    tr
                        th.tableParticulars.text-center Service Description
                        th.tableParticulars.text-center Details
                        th.tableParticulars.text-center TBD
                        th.tableParticulars.text-center Discount
                        th.tableParticulars.text-center After Dis.
                    tr
                        td.tableParticulars.text-center Consultant fee(indoor)
                        td.tableParticulars.text-center 1x502x2%
                        td.tableParticulars.text-center 502
                        td.tableParticulars.text-center 2
                        td.tableParticulars.text-center 500
                    tr
                        td.tableParticulars.text-center(rowspan="5")
                            b Daily Service Bill
                        td.tableParticulars.text-right(colspan="3")
                            b Total:
                        td.tableParticulars.text-center 502
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Discount:
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Net Total:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Deposit:
                        td.tableParticulars.text-center 0
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Balance:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-center(rowspan="6")
                            b Lab Bill:
                        td.tableParticulars.text-right(colspan="3")
                            b Total:
                        td.tableParticulars.text-center 502
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Discount:
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Net Total:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Received Amount:
                        td.tableParticulars.text-center 0
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Due Collection:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Due:
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-center(rowspan="4")
                            b Remarks:
                        td.tableParticulars.text-right(colspan="3")
                            b Grand Total:
                        td.tableParticulars.text-center 502
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Discount Total(-):
                        td.tableParticulars.text-center 2
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Received Total(-):
                        td.tableParticulars.text-center 550
                    tr
                        td.tableParticulars.text-right(colspan="3")
                            b Balance:
                        td.tableParticulars.text-center 0
    block foot
        +footer2()