extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Money Receipt')
        +admissionInfoBlockForMoneyReceipt()
        +particularAmount()
        +pathologyDueCollection()
            +footer()