extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Money Receipt')
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Receipt No:
                    span PL20170000015
                .col-md-4.col-print-4
                    label Mobile:
                    span 0101010
                .col-md-4.col-print-4
                    label Receipt Date:
                    span 2/2/2017, 10:36:24 AM
            .row.admissionInfo
                .col-md-4.col-print-4
                    label Registration No:
                    span 000003-10-16
                .col-md-4.col-print-4
                    label Admission No:
                    span AD-0001148
                .col-md-4.col-print-4
                    label Delivery Date:
                    span 2/17/2017, 1:30:00 AM
            .row.admissionInfo
                .col-md-3.col-print-3
                    label Patient Name:
                    span Kashem ali
                .col-md-2.col-print-2
                    label Age:
                    span 11-00-00
                .col-md-2.col-print-2
                    label Sex:
                    span Male
                .col-md-5.col-print-5
                    label Address:
                    span 45646465446
            .row.admissionInfo
                .col-md-12.col-print-12
                    label Referred by:
                    span Dr. Rokonujjaman ( MBBS )
        .col-md-12
            .row
                table.fullWidthTable
                    tr
                        th.tableParticulars(colspan="2") Test Name
                        th.tableParticulars Amount (BDT)
                    tr
                        td.tableParticulars(colspan="3")
                            table.fullWidthTable
                                tr
                                    th.tableParticulars(rowspan="3") Haematology
                                    th.tableParticulars TC
                                    th.tableParticulars 100
                                tr
                                    th.tableParticulars TC/DC
                                    th.tableParticulars 100
                                tr
                                    th.tableParticulars HCT/PCV
                                    th.tableParticulars 100

                    tr
                        td.tableParticulars.dueWidth(rowspan="6")
                            h2 Due
                        td.tableParticulars Total Bill:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Total Discount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Adjustment Discount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Total Receivable:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Received Amount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars Due Amount:
                        td.tableParticulars 583
                    tr
                        td.tableParticulars(colspan="3")
                            b Amount in words: taka only
                    tr
                        td.tableParticulars(colspan="3")
                            b Remarks: