extends shared/printLayout
include shared/printMixin
    block content
        +header()
        +headerText('Virology Report')
        .col-md-12.admissionInfoContainer
            .row.admissionInfo
                .col-md-6.col-print-6
                    label Registration ID:
                    span PL20170000015
                .col-md-6.col-print-6
                    label Ward/Cabin Name:
                    span 0101010
            .row.admissionInfo
                .col-md-3.col-print-3
                    label Receipt No:
                    span PL20170000015
                .col-md-3.col-print-3
                    label Age:
                    span 34
                .col-md-2.col-print-2
                    label Sex:
                    span Male
                .col-md-4.col-print-4
                    label Receipt Date:
                    span 2/2/2017, 10:36:24 AM
            .row.admissionInfo
                .col-md-8.col-print-8
                    label Patient Name:
                        span Kashem ali

                .col-md-4.col-print-4
                    label Delivery Date:
                    span 2/17/2017, 1:30:00 AM

            .row.admissionInfo
                .col-md-8.col-print-8
                    label Referred by:
                    span Dr. Rokonujjaman ( MBBS )
                .col-md-4.col-print-4
                    label Specimen:
                    span Blood
        .col-md-12
            .row
                table.fullWidthTable
                    tr
                        th.tableParticulars.virologyReportTable Test
                        th.tableParticulars.virologyReportTable Result
                        th.tableParticulars.virologyReportTable Reference Range
                        th.tableParticulars.virologyReportTable &nbsp;
                    tr
                        td.tableParticulars 1
                        td.tableParticulars 2
                        td.tableParticulars 3
                        td.tableParticulars 4
